{% extends 'base.html' %}

{% load static %}

{% block title %} About Me {% endblock title %}

{% block content %}

{% block bootstrap %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

{% endblock %}


<h1>About Me </h1>

<section class = "about-section center">
    <div.class="about-image-container" center>
       <img src="{% static 'img/suit-pic.jpg' %}" alt="my picture">
    </div.class>
    <h1> My Experince</h1>
    <br>

<p> Hi, my name is Jonathan. I have a bachelor's degree in  <strong>Multidisciplinary Studies:</strong> Focus in Business, Communication, and Political science, from the University of Texas San Antontio. I am a <strong> military vet</strong>  with three years active duty and three years in the Army Reserves. I am soon to be a graduate of <strong>SDGKU Full Stack Web Development Program.</strong>  To date, I have made several projects utlizing the latest software development technologies, such as <strong> HTML, CSS, React, Javascript, JQuery, Bootstrap, Python, Jinga, and Django</strong>, as well as, <mark> Agile Architecture and project management </mark>. I hope to continue learning more software skills and become a great programmer. 

</p>
</section>



{% endblock content %}
