{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title>{%block title %}
            {% endblock %}
    </title>
</head>
<body>
    <!-- Navigation -->
     <header class="center">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'about_me' %}">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects'%}">Projects</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="{% url 'experience' %}">Experience</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}"S>Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
     </header>


     <!---Content Main-->
     <main>
        {% block content %}
        
        {% endblock %}

     </main>

     <!--Footer-->
     <footer class="bg-dark text-light pt-5 pb-4">
  <div class="container text-md-left">
    <div class="row text-md-left">

      <!-- Links -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Links</h5>
        <p><a href="{% url 'about_me' %}" class="text-light text-decoration-none">About</a></p>
        <p><a href="{% url 'experience' %}" class="text-light text-decoration-none">Experince</a></p>
        <p><a href="{% url 'projects' %}" class="text-light text-decoration-none">Projects</a></p>
        <p><a href="{% url 'contact' %}" class="text-light text-decoration-none">Contact</a></p>
      </div>

      <!-- Contact -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
        <p><i class="bi bi-house"></i> San Diego, Californa </p>
        <p><i class="bi bi-envelope"></i> jonmaso@gmail.com</p>
        <p><i class="bi bi-phone"></i> 619-802-6910</p>
      </div>

    </div>

    <hr class="mb-4">

    <!-- Copyright -->
    <div class="row align-items-center">
      <div class="col-md-7 col-lg-8">
        <p> Professional Portfolio | 2026</p>
      </div>

    </div>

  </div>
</footer>
</body>
</html>